body{
  background-color: lightGray;
}
header{
  background-color: black;
  color: white;
}
.nav{
  margin: 1.5%;
  color: white;
}
.deleteImg{
  width: 25%;
  height: 25%;
  border-radius: 5px;
}
.planeImg{
  width: 25%;
  height: 25%;
}
.form-group{
  display: inline-block;
}
.plane{
  background-color: white;
  padding: 2%;
  margin: 2%;
  border: 2px solid black;

}
