<h1>Save a Plane</h1>

<form ng-submit="addPlane()" ng-controller="addCtrl">
  <label>Manufacturer:</label>
  <input type="text" ng-model="manufacturer" name="manufacturer" placeholder="Enter Manufacturer">
  <label>Model:</label>
  <input type="text" ng-model="model" name="model" placeholder="Enter Model Name">
  <label>Number of Engines:</label>
  <input type="number" ng-model="engines" name="engines" placeholder="Enter Number of Engines">
  <label>Image:</label>
  <input type="file" ng-model="image" name="image">
  <input type="submit" class="btn">
</form>
