<h1 class="text-center">{{ title }}</h1>
<p ng-hide="planes">LOADING PLANES NOW...</p>

<div>
  <form ng-submit="search()">
    <label>Search for a Plane:</label>
    <input ng-model="searchTerm" type="text" name="searchTerm" placeholder="Enter Model Name">
    <input type="submit" value="Search">
  </form>
</div>

<div ng-repeat="p in planes track by $index">
  <h3><strong>{{p.manufacturer}}</strong> {{p.model}}</h3>
  <a ng-href="/plane/{{p._id}}" class="btn btn-success">Details</a>
  <a ng-href="/delete/{{p._id}}">Delete Plane</a>
  <!-- <form  ng-submit="deletePlane()">
    <input hidden type="text"  ng-model="id" value="$p._id">
    <input type="submit" value="Delete Plane">
  </form> -->
</div>
