<h2 class="text-center">{{ title }}</h2>
<p ng-hide="planes">LOADING PLANES NOW...</p>

<div>
  <form ng-submit="search()">
    <label>Search for a Plane:</label>
    <input ng-model="searchTerm" type="text" name="searchTerm" placeholder="Enter Model Name">
    <input type="submit" value="Search">
  </form>
</div>

<div ng-if="searchTerm" ng-repeat="p in searchResults track by $index">
  <div ng-if="p.model == searchTerm">
    <h3><strong>{{p.manufacturer}}</strong> {{p.model}}</h3>
    <a ng-href="/plane/{{p._id}}" class="btn btn-success">Details</a>
    <a ng-href="/delete/{{p._id}}">Delete Plane</a>
  </div>
</div>

<div ng-if="!searchTerm" ng-repeat="p in planes track by $index">
  <h3><strong>{{p.manufacturer}}</strong> {{p.model}}</h3>
  <a ng-href="/plane/{{p._id}}" class="btn btn-success">Details</a>
  <a ng-href="/delete/{{p._id}}">Delete Plane</a>
</div>
